<section class="md:py-10 py-4">
  <div class="container mx-auto md:px-10 px-4">
    <div class="flex flex-col justify-center items-center text-center">
      <h1 class="text-xl md:text-2xl bg-gradient-to-r from-pink-500 to-violet-300 bg-clip-text text-transparent font-semibold mb-6"><%=current_user.user_name%>, welcome!</h1>
      <h2 class="text-4xl font-semibold mb-6">まだリストはありません</h2>
      <p class="text-amber-300 mb-8"><i class="fa-regular fa-lightbulb"></i> HINT: まずは下の「新規リスト作成」から、新しいリストを作成してみましょう！</p>
    </div>
  </div>
</section>