<section class="md:py-10 py-4">
  <div class="container mx-auto md:px-10 px-4">
    <div class="animate-fade-in flex flex-col justify-center items-center text-center">
      <h1 class="animate-typing overflow-hidden whitespace-nowrap text-3xl md:text-4xl bg-gradient-to-r from-pink-500 to-violet-300 bg-clip-text text-transparent font-semibold mb-6">WELCOME!</h1>
      <div class="divider divider-primary"></div>
      <h2 class="whitespace-nowrap text-2xl font-semibold mb-6"><i class="fa-solid fa-circle-info"></i> まだリストはありません</h2>
      <p class="animate-pulse text-slate-300 font-semibold mb-8"><i class="fa-regular fa-lightbulb"></i> : まずは下の「新規リスト作成」から、新しいリストを作成してみましょう！</p>
    </div>
  </div>
</section>