<p><%= @user.user_name %>様</p>

<p>パスワードリセット申請を受け付けました。</p>

<p>パスワードの再設定をご希望の場合、以下のURLをクリックし新しいパスワードをご登録ください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>--------------------------------------------------</p>

<p>※本メールは自動配信です。心当たりが無い場合は破棄するようお願いいたします。</p>

<p>Unexplored Music</p>

<p>--------------------------------------------------</p>