<!-- Header Section -->
<header class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white py-12">
  <div class="container mx-auto px-8">
    <h1 class="text-7xl font-bold tracking-tight leading-tight">UNEXPLORED</h1>
    <h1 class="text-7xl font-bold tracking-tight leading-tight">MUSIC</h1>
    <p class="mt-4 text-lg">Find Your Future Favorite Music.</p>
  </div>
</header>

<!-- Main Content Section -->
<section class="py-16">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl font-semibold mb-6">アーティストからのレコメンデーション</h2>
        <p class="text-lg mb-8">あなたがお気に入りのアーティストを見つけ、未知のジャンルの曲を探しましょう。</p>
        <a href="#" class="inline-block px-8 py-4 bg-gradient-to-r from-purple-900 to-indigo-800 text-white rounded hover:bg-gradient-to-r hover:from-purple-600 hover:to-indigo-700 transition duration-300">アーティストを見る</a>
      </div>
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl font-semibold mb-6">AIによるレコメンデーション</h2>
        <p class="text-lg mb-8">AIがあなたの好みに基づいておすすめの曲を提供します。</p>
        <a href="#" class="inline-block px-8 py-4 bg-gradient-to-r from-purple-900 to-indigo-800 text-white rounded hover:bg-gradient-to-r hover:from-purple-600 hover:to-indigo-700 transition duration-300">AIによるレコメンデーション</a>
      </div>
    </div>
  </div>
</section>

        <p class="text-sm text-gray-300">リストにアーティストを追加すると自動でジャンル情報がまとめられます</p>
        <p class="text-sm text-gray-300">AIがリストの情報から新奇性のあるジャンルを生成し、あなたへのレコメンド楽曲が取得されます</p>

<i class="fa-brands fa-github"></i>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn">daisyUI</button>

<button class="btn btn-secondary">btn btn-secondary</button>
<%= link_to 'リスト一覧へ', lists_path, class: 'btn btn-primary' %>
<p>Find me in app/views/tops/index.html.erb</p>

