<div class="navbar bg-gradient-to-r from-purple-900 to-indigo-800 text-white px-4 md:px-8 lg:px-16">
  <div class="flex-1 text-center font-bold">
    <%= link_to "Unexplored Music", root_path, class: "btn btn-ghost md:text-xl font-bold" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="text-center font-bold"><%= link_to "登録", new_user_path %></li>
      <li class="text-center font-bold"><%= link_to "ログイン", login_path %></li>
    </ul>
  </div>
</div>