<div class="navbar bg-gradient-to-r from-purple-900 to-indigo-800 text-white px-4 md:px-8 lg:px-16 bottom-0 left-0 z-20 w-full border-t border-gray-200 shadow flex flex-col items-center justify-between">
    <div class="w-full text-center">
        <ul class="text-gray-400 menu menu-horizontal px-1 inline-flex justify-center m-auto">
            <li class="text-center font-bold"><%= link_to '利用規約', terms_path, class: 'hover:underline me-4 md:me-6' %></li>
            <li class="text-center font-bold"><%= link_to 'プライバシーポリシー', policy_path, class: 'hover:underline me-4 md:me-6' %></li>
            <li class="text-center font-bold"><%= link_to 'お問い合わせ', root_path, class: 'hover:underline' %></li>
        </ul>
    </div>
    <div class="py-4 w-full text-center mb-2 m-auto">
    <ul class="text-gray-400 menu menu-horizontal px-1 inline-flex justify-center m-auto">
        <span class="text-sm text-gray-200 sm:text-center dark:text-gray-400">Copyright © Unexplored Music 2024 All Rights Reserved.</span>
    </ul>
    </div>
</div>