<div class="navbar bg-gradient-to-r from-purple-900 to-indigo-800 text-white px-4 md:px-8 lg:px-16 bottom-0 left-0 z-20 w-full border-t border-gray-200 shadow md:flex md:items-center md:justify-between">
    <div class="flex-1 text-center font-bold">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">2024 unexplored</span>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li class="text-center font-bold"><%= link_to 'About', root_path, class: 'hover:underline me-4 md:me-6' %></li>
            <li class="text-center font-bold"><%= link_to 'Privacy Policy', root_path, class: 'hover:underline me-4 md:me-6' %></li>
            <li class="text-center font-bold"><%= link_to 'Contact', root_path, class: 'hover:underline' %></li>
        </ul>
    </div>
</div>