<div class="navbar bg-lime-50 px-4 md:px-8 lg:px-16">
  <div class="flex-1 text-center font-bold">
    <%= link_to "Unexplored Music", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="text-center font-bold"><%= link_to "マイリスト", lists_path %></li>
      <li>
        <details>
          <summary class="text-center font-bold">
            <i class="fa-solid fa-circle-user"></i>アカウント
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none w-auto">
            <li class="text-center font-bold"><%= link_to "ユーザー情報", edit_user_path(current_user) %></li>
            <li class="text-center font-bold"><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>