<div class="my-4 mx-4 flex justify-center">
  <iframe class="w-full" src="<%= @player_url %>"  
    width="60%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>